
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black
}


li:hover{
    text-shadow: 1px 1px 4px black;
}

.titulo{
    text-align: center;
    margin: 20px;
    padding: 15px;
}

.logo-img{
    width: 70px; 
}

.slide img{
    height: 80vh;
}

div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.texto-uno{
    font-size: 40px;
    font-style: italic;
    padding-left: 30px;
    margin-top: 200px;
    color: coral;
}

.videos-uno{
    display: grid;
    margin-top: 80px;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 300%;
    gap: 1rem;
}

section article iframe{
    height: 100%;
    width: 100%;
    object-fit: cover;
}












.nosotros-dos{
    letter-spacing: 3px;
    font-weight: bold;
}

.texto-dos{
    margin-top: 50px;
    padding-left: 30px;
}

.parrafo-uno{
    margin-top: 60px;
    text-align: left;
}

.parrafo-dos{
    margin-top: 20px;
    text-align: left;
}











.receta-uno{
    display: flex;
    margin-top: 20px;
}

.border-dos{
    border: solid black;
    margin-right: 10px;
    padding-top: 30px;
}

.ingredientes-dos{
    margin-left: 30px;
    padding-top: 10px;
    padding-right: 65px;
    list-style: none;
}

.foto-receta{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.parra-home{
    text-align: left;
    padding-left: 20px;
}

.pa-uno{
    margin-top: 10px;
}
.pa-dos{
    margin-top: 10px;
}
.pa-tres{
    margin-top: 10px;
}
.pa-cuatro{
    margin-top: 10px;
}
.pa-cinco{
    margin-top: 10px;
}
.pa-seis{
    margin-top: 10px;
}
.pa-siete{
    margin-top: 10px;
}




.receta-dos{
    display: flex;
    margin-top: 20px;
}

.receta-foto{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.border-menu{
    border: solid black;
    margin-right: 10px;
    padding-top: 30px;
}
.ingredientes-uno{ 
    margin-left: 30px;
    padding-top: 10px;
    padding-right: 40px;
    list-style: none;
}

.par-home{
    text-align: left;
    padding-left: 20px;
}

.par-uno{
    margin-top: 10px;
}

.par-dos{
    margin-top: 10px;
}

.par-tres{
    margin-top: 10px;
}

.par-cuatro{
    margin-top: 10px;
}

.par-cinco{
    margin-top: 10px;
}

.par-seis{
    margin-top: 10px;
}










.fotos-cuatro{
    margin-top: 40px;
    display: grid;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.fotos-cuatro{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
    gap: 1rem;
}







.form-uno{
    display: flex;
    width: 350px;
    padding: 50px 55px;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
}

.input-grupo{
    display: flex;
    flex-direction: column;
    text-align: left;
    
}

label {
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 30px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 20px;
    margin-bottom: 15px;
    background-color: #fffde8;
    border: 2px solid #ffffff;
    color: black;
    outline: none;
}


.terminos-uno{
    cursor: pointer;
}

.boton-dos{
    background-color: rgb(255,193,7);
    color: black;
    padding: 5px 5px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid #fff;
}

.boton-dos:hover{
    background-color:  rgba(255, 192, 20, 0.613);
    cursor: pointer;
}

.boton-uno{
    margin-top: 10px;
    background-color: rgb(255,193,7);
    color: black;
    padding: 5px 5px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid #fff;
}

.boton-uno:hover{
    background-color: rgba(255, 192, 20, 0.613);
    cursor: pointer;
}






.hr-uno{
    position: relative;
    top: 380px;
}

.footer-home{
    margin-top: 300px;
    margin-left: 30px;
}

.footer-uno{
    display: inline-block;
    padding-top: 100px;
}
.footer-dos{
    font-weight: bold;
}

.footer-tres{
    display: flex;
}

.derechos-uno{
    position: relative;
    left: 600px;
}

.footer-logo{
    width: 40px;
}










@media (min-width: 600px) and (max-width:768px){

    .receta-uno{
        display: block;
        margin-top: 40px;
    }

    .receta-dos{
        display: block;
        margin-top: 100px;
    }

    .foto-receta{
        margin-top: 10px;
    }

    .receta-foto{
        margin-top: 10px;
    }

    .slide img{
        height: 60vh;
    }

    .videos-uno{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 50%);
    }

    .fotos-cuatro{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 25%);
    }

    .derechos-uno{
        display: none;
    }
}
    

@media (min-width:320px) and (max-width:600px){

    .receta-uno{
        display: block;
        margin-top: 40px;
    }

    .receta-dos{
        display:block ;
        margin-top: 100px;
    }

    .foto-receta{
        margin-top: 10px;
    }

    .receta-foto{
        margin-top: 10px;
    }

    .slide img{
        height: 50vh;
    }

    .videos-uno{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 30%);
    }

    .fotos-cuatro{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 30%);
    }

    .footer-tres{
        display: none;
    }

}
