footer{
    padding-left: 10px;
}
.hr-uno{
    position: relative;
    top: 20px;
}
.footer-logo{
    width: 60px;
}
.footer-uno{
    display: inline-block;
}
.footer-tres a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}