footer{
    padding-left: 10px;
}
input {
    width: 220px;
}

textarea{
    width: 220px;
}
.footer-logo{
    width: 60px;
}
.footer-uno{
    display: inline-block;
}
.footer-tres a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}