/* inicio */
h1{
    text-align: center;
    margin-top: 40px;
}
.logo-img{
    width: 70px;
}
main div img{
    @include estilos-base(100%, 100%, cover)
}
section article iframe{
    @include estilos-base(100%, 100%, cover)
}
.slide img{
    height: 30vh;
    padding-left: 10px;
    padding-right: 10px;
}
.videos-uno{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 30%);
    gap: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 100px;
}
.texto-uno{
    text-align: center;
    font-size: 45px;
    font-style: italic;
    padding-left: 20px;
    margin-top: 100px;
    color: rgb(255, 68, 0);
}
/* nosotros */
section{
    margin-top: 30px;
    article{
        article{
            font-weight: bold;
            letter-spacing: 2px;
            text-align: center;
        }
        p{
            margin-top: 30px;
            text-align: left;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
.parrafo-dos{
    margin-bottom: 200px;
}
/* recetas */
.receta-uno{
    margin-top: 40px;
}
.border-uno{
    border: solid black;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.ingredientes-uno{
    padding-right: 30px;
    list-style: none;
}
.foto-receta{
    @include estilos-base(100%, 100%, cover);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}
.parra-home{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
.receta-dos{
    margin-top: 40px;
}
.receta-foto{
    @include estilos-base(100%, 100%, cover);
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.border-dos{
    border: solid black;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.ingredientes-dos{ 
    list-style: none;
    padding-right: 30px;
}
.par-home{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
.receta-tres {
    margin-top: 40px;
}
.border-tres{
    border: solid black;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.ingredientes-tres{
    padding-right: 30px;
    list-style: none;
}
.receta-fo{
    @include estilos-base(100%, 100%, cover);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}
.parra-tres{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
/* fotos */
.fotos-cuatro{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 20%);
    padding: 10px;
    gap: 1rem;
}
.texto-img, .texto-dos, .texto-tres, .texto-cuatro{
    opacity: 0;
}
/* contacto */
form{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.733);
    width: 300px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    background-image: linear-gradient(#ffc10762, #ffc1070c);
    div{
        .boton-uno{
            @extend %estilos;
            background-color: #ffc107bd;
            font-size: 15px;
            text-transform: uppercase;
            border: 1px solid $color-principal;
        }
        .boton-uno:hover{
            background-color: rgb(231, 169, 0);
            cursor: pointer;
        }
        .boton-dos{
            @extend %estilos;
            background-color: #ffc107bd;
            color: black;
            font-size: 15px;
            text-transform: uppercase;
            border: 1px solid $color-principal;
        }
        .boton-dos:hover{
            background-color:  rgb(231, 169, 0);
            cursor: pointer;
        }
    }
}
label{
    margin-top: 20px;
}
input, textarea{
    padding: 15px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #fff(0, 0, 0, 0.337);
    border: #fff;
    color: black;
    outline: none;
}
.terminos-uno{
    cursor: pointer
}
input{
    width: 240px;
}
textarea{
    width: 240px;
}
/* MQ TABLET */
@media screen and (min-width: 600px){
    .slide img{
        height: 50vh;
    }
    form{
        width: 350px;
    }
    .parrafo-dos{
        margin-bottom: 390px;
    }
    .texto-img, .texto-dos, .texto-tres, .texto-cuatro{
        opacity: 0;
    }
}
/* MQ DESKTOP */
@media screen and (min-width:1024px){
    .slide img{
        height: 70vh;
    }
    .videos-uno{
        grid-template-columns: repeat(3, 2fr);
        grid-template-rows: 200%;
        margin-bottom: 200px;
    }
    .parrafo-uno{
        margin-top: 50px;
        padding-left: 30px;
    }
    .parrafo-dos{
        margin-top: 20px;
        padding-left: 30px;
        margin-bottom: 
        220px;
    }
    .receta-uno{
        display: flex;
        padding-left: 10px;
    }
    .border-uno{
        margin-top: 10px;
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .ingredientes-uno{
    padding-top: 20px;
    list-style: square;
    }
    .receta-dos{
        display: flex;
        padding-left: 10px;
    }
    .border-dos{
        margin-top: 10px;
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .ingredientes-dos{
        padding-top: 20px;
        list-style: square;
    }
    .receta-tres{
        display: flex;
        padding-left: 10px;
    }
    .border-tres{
        margin-top: 10px;
        padding-top: 20px;
    }
    .ingredientes-tres{
        padding-top: 10px;
        list-style: square;
    }
    .receta-fo{
        width: 550px;
    }
    .fotos-cuatro{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 2fr;
    }
    .contenedor{
        position: relative;
    }
    .foto-uno{
        perspective: 1000px;
    }
    .foto-uno:hover .texto-img{
        opacity: 1;
    }
    .foto-uno:hover img{
        transform: rotateY(180deg);
        opacity: 0.6;
        filter: blur(10px);
        filter: grayscale(30%)
    }
    .texto-img{
        background-color: rgba(0, 0, 0, 0.686);
        text-align: center;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(59, 58, 58, 0.6);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        color: white;
        padding: 10px;
        transition: 1s;
    }
    .foto-dos{
        perspective: 1000px;
    }
    .foto-dos:hover .texto-dos{
        opacity: 1;
    }
    .foto-dos:hover img{
        transform: rotateY(180deg);
        opacity: 0.6;
        filter: blur(10px);
        filter: grayscale(30%)
    }
    .texto-dos{
        background-color: rgba(0, 0, 0, 0.686);
        text-align: center;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(59, 58, 58, 0.6);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        color: white;
        padding: 10px;
        transition: 1s;
    }
    .foto-tres{
        perspective: 1000px;
    }
    .foto-tres:hover .texto-tres{
        opacity: 1;
    }
    .foto-tres:hover img{
        transform: rotateY(180deg);
        opacity: 0.6;
        filter: blur(10px);
        filter: grayscale(5%)
    }
    .texto-tres{
        background-color: rgba(0, 0, 0, 0.686);
        text-align: center;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(59, 58, 58, 0.6);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        color: white;
        padding: 10px;
        transition: 1s;
    }
    .foto-cuatro{
        perspective: 1000px;
    }
    .foto-cuatro:hover .texto-cuatro{
        opacity: 1;
    }
    .foto-cuatro:hover img{
        transform: rotateY(180deg);
        opacity: 0.6;
        filter: blur(10px);
        filter: grayscale(5%)
    }
    .texto-cuatro{
        background-color: rgba(0, 0, 0, 0.686);
        text-align: center;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(59, 58, 58, 0.6);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        color: white;
        padding: 10px;
        transition: 1s;
    }
    form{
        width: 390px;
    }
}