
$boton-premium:(
    bg-premium: rgb(255,193,7),
    margin-top: 10px,
    color-premium: black,
    padding: 10px 30px,
    font-size: 15px,
    text-transform: uppercase,
    border-premium: 1px solid white
)